body{
    background-color: azure;
    color: rgb(111, 111, 255);
}

img {
	width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	font-size: 50px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	font-size: 40px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3{
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 5em;
	font-size: 30px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4{
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 5em;
	font-size: 25px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5{
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 5em;
	font-size: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h6{
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 5em;
	font-size: 15px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


button {
    color:inherit;
	border: 2px solid;
	background-color:transparent;
	outline: none;
	border-radius: 0;
    padding: 0.5em;
	text-transform: uppercase;
	font-weight: bold;
    margin: 0 auto;
    display: block;
	cursor: pointer;
}

.invert {
    background-color: goldenrod;
    color: greenyellow;
}
